body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#enableEthereumButton,
#accountSelected {
    position: fixed;
    top: 25px;
    right: 25px;
}

body>div {
    width: 60%;
    margin: 5% auto 0;
}